@import "common/foundation/variables";
/* $message-if-rsvp: defined as theme setting */
/* $message-if-not-rsvp: defined as theme setting */


.event-rsvp {
    svg{
        display:none;
    }

    .btn:not(.btn-primary){
        background-color:$highlight;
        .d-button-label:after{
            display:block;
            width: 100%;
            min-width:20em;
            overflow:visible;
            color: $primary;
            content: $message-if-not-rsvp;
        }
    }
    .btn.btn-primary{
        background-color:$success;
        .d-button-label:after{
            display:block;
            width: 100%;
            min-width:20em;
            overflow:visible;
            color: $secondary;
            content: $message-if-rsvp;
        }
    }
    event-rsvp-details{
        display:block;
    }
}
